* {
  font-family: Verdana;
}
body {
  padding: 10px 10px 10px 10px;
  background-color: #E0F7FA;
}
p, dd {
  font-size: 20px;
}

/* Navigation Menu */
nav ul {
  display: inline-block;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: #90A4AE;
  border-right: 3px solid #78909C;
  border-bottom: 5px solid #78909C;
}
nav li {
  float: left;
  padding: 20px 20px;
}
#title {
  font-weight: bold;
  font-size: 25px;
  padding-right: 200px;
}
nav #sub {
  width: 150px;
  text-align: center;
}
nav #sub:hover {
  background-color: #CFD8DC;
}
nav li a {;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 2px 2px #673AB7;
}

/* All Sections */
section h2 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 30px;
  color: #3F51B5;
}
#about h4, #controls h4:last-of-type {
  margin: 30px 0 0 0;
  padding: 15px 20px;
  background-color: #B3E5FC;
  border: 3px dashed #0288D1;
  text-align: center;
  font-size: 18px;
  transform: scale(0.98, 0.98);
  transition: 0.9s ease-in-out;
}
#about div:hover, #controls h4:last-of-type:hover {
  transform: scale(1, 1);
  transition: 1s ease-in-out;
}
#controls,  #download {
  position: relative;
  left: 0;
  width: 100%;
  margin: 70px 0;
  border-top: 10px dashed teal;
  padding: 20px 0 0 10px;
}

/* About Section */
#about #logo {
  position: relative;
  top: 5em;
  left: 5em;
  float: left;
  width: 20%;
  height: 20%;
  padding: 20px;
}
#about .whatText {
  float: right;
  width: 65%;
}
#greet {
  padding-top: 30px;
  font-size: 35px;
  color: teal;
  text-shadow: 2px 1px 2px #80DEEA;
}
#about #subTitle {
  clear: both;
  padding: 5px 0;
  background-color: #80DEEA;
  border-bottom: 5px solid teal;
  font-size: 20px;
  color: black;
  text-align: center;
  text-shadow: none;
}
#about .sketches {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#about #S img {
  transform: scale(1, 1);
  transition: 1s ease-in-out;
  width: 500px;
  height: 500px;
  margin: 35px;
}
#about #S img:hover {
  border: 5px solid #FFB74D;
}
#about #T {
  border: 4px inset #80DEEA;
}
#about .tools {
  margin-left: 170px;
  margin-right: 170px;
}
#about #T {
  float: left;
  margin: 30px;
}
#T:first-child img {
  padding: 40px;
  width: 500px;
  height: 400px;
}
#T:last-child img {
  padding: 10px;
  padding-left: 60px;
  width: 65%;
  height: 65%;
  float: left;
  clear: both;
}
 #about #S img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s ease-in-out;
}
#about h4 {
  clear: both;
}

/* Controls Section */
#controls {
  clear: both;
}
#controls h4 {
  margin-top: 0;
  font-size: 20px;
}
#controls dt {
  margin: 20px 0 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #0288D1;
}
#controls dd {
  font-size: 18px;
  margin: 10px 15px;
}
#controls ul {
  columns: 2;
}
#controls video, #controls img {
  width: 50%;
  height: 50%;
  margin: 0 25%;
  border: 4px inset #80DEEA;
}
/* Download Section */
#download .P3 {
  border: 10px inset #80DEEA;
  padding: 10px;
  text-align: center;
}
#download a:hover {
  color: #FFB74D;
}
#download div:last-of-type {
  border: 6px outset #007373;
  background-color: #008080e0;
  margin-top: 20px;
  margin-right: 0px;
  padding: 20px 40px;
  text-align: center;
}
#download div:last-of-type:hover {
  cursor: pointer;
  border: 6px outset #008080a6;
  background-color: #008080a6;
}
#download div:last-of-type a {
  color: black;
  font-weight: bold;
  font-size: 30px;W
  text-decoration: none;
}
#download div:last-of-type a:active {
  color: white;
}

footer {
  z-index: 101;
  position: absolute;
  left: 0px;
  width: 100%;
  border-top: 10px double #78909C;
  background-color: #90A4AE;
}
footer h2 {
  padding: 0 30px;
  color: white;
  text-shadow: 2px 2px #673AB7;
}
footer img, footer p {
  margin-top: -10px;
}
footer p {
  padding: 0 50px;
  font-size: 15px;
  float: left;
}
footer p:hover, footer a:hover {
  color: white;
}

/* Media Queries */
/* Large Laptop - 1440px */
@media screen and (max-width: 1440px) {
  #about #S img {
    width: 550px;
    height: 550px;
    margin: 22px;
  }
  #about #T img:first-of-type {
    width: 450px;
    height: 350px;
    margin-left: 6em;
  }
  #about #T:last-of-type img {
    width: 200px;
    height: 200px;
    margin: 90px 1.8em;
  }
}
/* Laptop - 1024px */
@media screen and (max-width: 1024px) {
  #about #S img {
    width: 350px;
    height: 350px;
    margin: 20px;
  }
  #about #T img:first-of-type {
    margin-left: 9em;
  }
  #about #T:last-of-type img {
    margin: 20px 5em;
  }
}
/* Tablet - 768px */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  footer {
    width: 132%;
  }
  #about #S img {
    margin: 15px;
  }
}
/* Large Mobile - 425px */
@media screen and (max-width: 425px) {
  body {
    width: 155%;
  }
  footer {
    width: 212%;
  }
  #about #S img {
    width: 600px;
    height: 600px;
    margin: 30px;
  }
  #about #T img:first-of-type {
    margin-left: 7em;
  }
  #about #T:last-of-type img {
    margin: 10px 3em;
  }
  #about h2, #controls h2, #download h2 {
    font-size: 45px;
  }
  #controls dt {
    font-size: 40px;
  }
  p, #controls dd {
    font-size: 35px;
  }
  #about h4, #controls h4:last-of-type {
    font-size: 20px;
  }
}
/* Medium Mobile - 375px */
@media screen and (max-width: 375px) {
  body {
    width: 170%;
  }
  footer {
    width: 234%;
  }
  #controls dt {
    font-size: 31px;
  }
}
/* Small Mobile - 320px */
@media screen and (max-width: 320px) {
  body {
    width: 190%;
  }
  footer {
    width: 274%;
  }
  #about #S img {
    width: 570px;
    height: 570px;
  }
  #about #T img:first-of-type {
    margin-left: 5em;
  }
  #about #T:last-of-type img {
    margin: 20px 2.5em;
  }
  p, #controls dd {
    font-size: 30px;
  }
}
