* {
  font-family: Verdana;
}
body {
  padding: 10px 10px 10px 210px;
  background-color: #E0F7FA;
}
p, dd {
  font-size: 20px;
}
#intro {
  margin: 0;
  padding: 15px;
  border: 10px double #00CED1;
  border-radius: 10px;
  background-color: #40E0D0;
  text-align: center;
  text-shadow: -3px -1px white;
}
h3 {
  font-size: 35px;
  color: #FFB74D;
  text-align: center;
  text-shadow: 2px 1px 2px #EF6C00;
}

/* Navigation Menu */
nav ul {
  display: inline-block;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  background-color: #90A4AE;
  border-right: 3px solid #78909C;
}
nav li img:hover {
  transform: scale(1.2, 1.2);
}
nav li {
  padding: 30px 20px;
  border-bottom: 5px solid #78909C;
}
nav a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #673AB7;
  font-weight: bold;
  font-size: 25px;
}
nav li:hover {
  background-color: #CFD8DC;
}
nav a:hover {
  text-shadow: 3px 2px #0288D1;
}

/* All Sections */
section h2 {
  margin-bottom: 0;
  font-size: 30px;
  color: #3F51B5;
}
#about h4, #controls h4:last-of-type {
  margin: 30px 0 0 0;
  padding: 15px 20px;
  background-color: #B3E5FC;
  border: 3px dashed #0288D1;
  text-align: center;
  font-size: 18px;
  transform: scale(0.98, 0.98);
  transition: 0.9s ease-in-out;
}
#about div:hover, #controls h4:last-of-type:hover {
  transform: scale(1, 1);
  transition: 1s ease-in-out;
}
#controls,  #download {
  position: relative;
  left: 0;
  width: 100%;
  margin: 70px 0;
  border-top: 10px dashed #FFB74D;
  padding: 20px 0 0 10px;
}
/* About Section */
#about h3 {
  padding: 5px 0;
  background-color: #80DEEA;
  border-bottom: 5px solid teal;
  font-size: 20px;
  color: black;
  text-shadow: none;
}
#about .sketches {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#about #S img {
  margin: 50px;
  transform: scale(1, 1);
  transition: 1s ease-in-out;
}
#about #S img:hover {
  border: 5px solid #FFB74D;
}
#about #T {
  margin: 20px 10px;
  border: 4px inset #80DEEA;
}
#about #T img {
  position: relative;
  left: 3em;
  margin: 0;
  padding: 1.5em;
  transform: scale(1, 1);
  transition: 1s ease-in-out;
}
#about #T img:hover, #about #S img:hover {
  transform: scale(1.1, 1.1);
  transition: 1s ease-in-out;
}
/* Controls Section */
#controls h4 {
  margin-top: 0;
  font-size: 20px;
}
#controls dt {
  margin: 20px 0 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #0288D1;
}
#controls dd {
  font-size: 18px;
  margin: 10px 15px;
}
#controls ul {
  columns: 2;
}
#controls video, #controls img {
  width: 50%;
  height: 50%;
  margin: 0 25%;
  border: 4px inset #80DEEA;
}
/* Download Section */
#download .P3 {
  border: 10px inset #80DEEA;
  padding: 10px;
  text-align: center;
}
#download a:hover {
  color: #FFB74D;
}
#download div:last-of-type {
  border: 6px outset #F57C00;
  background-color: #FFA726;
  margin-top: 20px;
  margin-right: 0px;
  padding: 20px 40px;
  text-align: center;
}
#download div:last-of-type:hover {
  cursor: pointer;
  border: 6px outset #E65100;
  background-color: #FFB74D;
}
#download div:last-of-type a {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
#download div:last-of-type a:active {
  color: white;
}

footer {
  z-index: 101;
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 10px double #00CED1;
  background-color: #40E0D0;
}
footer h2 {
  padding: 0 30px;
}
footer img, footer p {
  margin-top: -10px;
}
footer p {
  color: black;
  padding: 0 50px;
  font-size: 15px;
  float: left;
}
footer p:hover, footer a:hover {
  color: white;
}
footer img:hover {
  width: 36px;
  height: 30px;
}

/* Media Queries */
/* 4K - 2560px */
@media (max-width: 2560px) {
  #about #S img {
    width: 500px;
    height: 500px;
    margin: 35px;
  }
  #about #T img:first-of-type {
    width: 500px;
    height: 400px;
    margin-left: 20em;
  }
  #about #T:last-of-type img {
    width: 300px;
    height: 300px;
    margin: 90px 8em;
  }
}
/* Large Laptop - 1440px */
@media (max-width: 1440px) {
  #about #S img {
    width: 550px;
    height: 550px;
    margin: 22px;
  }
  #about #T img:first-of-type {
    width: 450px;
    height: 350px;
    margin-left: 6em;
  }
  #about #T:last-of-type img {
    width: 200px;
    height: 200px;
    margin: 90px 1.8em;
  }
}
/* Laptop - 1024px */
@media (max-width: 1024px) {
  #about #S img {
    width: 350px;
    height: 350px;
    margin: 20px;
  }
  #about #T img:first-of-type {
    margin-left: 9em;
  }
  #about #T:last-of-type img {
    margin: 20px 5em;
  }
}
/* Tablet - 768px */
@media (max-width: 768px) {
  body {
    width: 100%;
  }
  footer {
    width: 132%;
  }
  #about #S img {
    margin: 15px;
  }
}
/* Large Mobile - 425px */
@media (max-width: 425px) {
  body {
    width: 155%;
  }
  footer {
    width: 212%;
  }
  #about #S img {
    width: 600px;
    height: 600px;
    margin: 30px;
  }
  #about #T img:first-of-type {
    margin-left: 7em;
  }
  #about #T:last-of-type img {
    margin: 10px 3em;
  }
  #about h2, #controls h2, #download h2 {
    font-size: 45px;
  }
  #controls dt {
    font-size: 40px;
  }
  p, #controls dd {
    font-size: 35px;
  }
  #about h4, #controls h4:last-of-type {
    font-size: 20px;
  }
}
/* Medium Mobile - 375px */
@media (max-width: 375px) {
  body {
    width: 170%;
  }
  footer {
    width: 234%;
  }
  #controls dt {
    font-size: 31px;
  }
}
/* Small Mobile - 320px */
@media (max-width: 320px) {
  body {
    width: 190%;
  }
  footer {
    width: 274%;
  }
  #about #S img {
    width: 570px;
    height: 570px;
  }
  #about #T img:first-of-type {
    margin-left: 5em;
  }
  #about #T:last-of-type img {
    margin: 20px 2.5em;
  }
  p, #controls dd {
    font-size: 30px;
  }
}
